<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.aust.dao.ArticleTagsMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.aust.pojo.ArticleTags" >
    <id column="article_tags_id" property="articleTagsId" jdbcType="INTEGER" />
    <result column="article_id" property="articleId" jdbcType="INTEGER" />
    <result column="tags_id" property="tagsId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    article_tags_id, article_id, tags_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from article_tags
    where article_tags_id = #{articleTagsId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from article_tags
    where article_tags_id = #{articleTagsId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.edu.aust.pojo.ArticleTags" >
    insert into article_tags (article_tags_id, article_id, tags_id
      )
    values (#{articleTagsId,jdbcType=INTEGER}, #{articleId,jdbcType=INTEGER}, #{tagsId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.aust.pojo.ArticleTags" >
    insert into article_tags
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="articleTagsId != null" >
        article_tags_id,
      </if>
      <if test="articleId != null" >
        article_id,
      </if>
      <if test="tagsId != null" >
        tags_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="articleTagsId != null" >
        #{articleTagsId,jdbcType=INTEGER},
      </if>
      <if test="articleId != null" >
        #{articleId,jdbcType=INTEGER},
      </if>
      <if test="tagsId != null" >
        #{tagsId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.aust.pojo.ArticleTags" >
    update article_tags
    <set >
      <if test="articleId != null" >
        article_id = #{articleId,jdbcType=INTEGER},
      </if>
      <if test="tagsId != null" >
        tags_id = #{tagsId,jdbcType=INTEGER},
      </if>
    </set>
    where article_tags_id = #{articleTagsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.aust.pojo.ArticleTags" >
    update article_tags
    set article_id = #{articleId,jdbcType=INTEGER},
      tags_id = #{tagsId,jdbcType=INTEGER}
    where article_tags_id = #{articleTagsId,jdbcType=INTEGER}
  </update>
</mapper>