<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.aust.dao.SolutionMapper" >
	<!--启用二级缓存-->
	<!--  <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>  -->
	<!--启用二级缓存 这个配置可以输出日志-->
  	<!-- <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>  -->
  	<cache type="org.mybatis.caches.ehcache.LoggingEhcache" >  
      <property name="timeToIdleSeconds" value="3600"/>
      <property name="timeToLiveSeconds" value="3600"/>
      <property name="maxEntriesLocalHeap" value="1000"/>  
      <property name="maxEntriesLocalDisk" value="10000000"/>  
      <property name="memoryStoreEvictionPolicy" value="LRU"/>  
  </cache> 

  <resultMap id="BaseResultMap" type="cn.edu.aust.pojo.Solution" >
    <id column="solution_id" property="solutionId" jdbcType="INTEGER" />
    <result column="problem_id" property="problemId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="memory" property="memory" jdbcType="INTEGER" />
    <result column="time" property="time" jdbcType="INTEGER" />
    <result column="submit_date" property="submitDate" jdbcType="TIMESTAMP" />
    <result column="code_length" property="codeLength" jdbcType="INTEGER" />
    <result column="language" property="language" jdbcType="TINYINT" />
    <result column="verdict" property="verdict" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="cn.edu.aust.pojo.Solution" extends="BaseResultMap" >
    <result column="source" property="source" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    solution_id, problem_id, user_id, memory, time, submit_date, code_length, language, 
    verdict
  </sql>
  <sql id="Blob_Column_List" >
    source
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from solution
    where solution_id = #{solutionId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from solution
    where solution_id = #{solutionId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.edu.aust.pojo.Solution" >
    insert into solution (solution_id, problem_id, user_id, 
      memory, time, submit_date, 
      code_length, language, verdict, 
      source)
    values (#{solutionId,jdbcType=INTEGER}, #{problemId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{memory,jdbcType=INTEGER}, #{time,jdbcType=INTEGER}, #{submitDate,jdbcType=TIMESTAMP}, 
      #{codeLength,jdbcType=INTEGER}, #{language,jdbcType=TINYINT}, #{verdict,jdbcType=INTEGER}, 
      #{source,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.aust.pojo.Solution" >
    insert into solution
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="solutionId != null" >
        solution_id,
      </if>
      <if test="problemId != null" >
        problem_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="memory != null" >
        memory,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="submitDate != null" >
        submit_date,
      </if>
      <if test="codeLength != null" >
        code_length,
      </if>
      <if test="language != null" >
        language,
      </if>
      <if test="verdict != null" >
        verdict,
      </if>
      <if test="source != null" >
        source,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="solutionId != null" >
        #{solutionId,jdbcType=INTEGER},
      </if>
      <if test="problemId != null" >
        #{problemId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="memory != null" >
        #{memory,jdbcType=INTEGER},
      </if>
      <if test="time != null" >
        #{time,jdbcType=INTEGER},
      </if>
      <if test="submitDate != null" >
        #{submitDate,jdbcType=TIMESTAMP},
      </if>
      <if test="codeLength != null" >
        #{codeLength,jdbcType=INTEGER},
      </if>
      <if test="language != null" >
        #{language,jdbcType=TINYINT},
      </if>
      <if test="verdict != null" >
        #{verdict,jdbcType=INTEGER},
      </if>
      <if test="source != null" >
        #{source,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.aust.pojo.Solution" >
    update solution
    <set >
      <if test="problemId != null" >
        problem_id = #{problemId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="memory != null" >
        memory = #{memory,jdbcType=INTEGER},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=INTEGER},
      </if>
      <if test="submitDate != null" >
        submit_date = #{submitDate,jdbcType=TIMESTAMP},
      </if>
      <if test="codeLength != null" >
        code_length = #{codeLength,jdbcType=INTEGER},
      </if>
      <if test="language != null" >
        language = #{language,jdbcType=TINYINT},
      </if>
      <if test="verdict != null" >
        verdict = #{verdict,jdbcType=INTEGER},
      </if>
      <if test="source != null" >
        source = #{source,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where solution_id = #{solutionId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="cn.edu.aust.pojo.Solution" >
    update solution
    set problem_id = #{problemId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      memory = #{memory,jdbcType=INTEGER},
      time = #{time,jdbcType=INTEGER},
      submit_date = #{submitDate,jdbcType=TIMESTAMP},
      code_length = #{codeLength,jdbcType=INTEGER},
      language = #{language,jdbcType=TINYINT},
      verdict = #{verdict,jdbcType=INTEGER},
      source = #{source,jdbcType=LONGVARCHAR}
    where solution_id = #{solutionId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.aust.pojo.Solution" >
    update solution
    set problem_id = #{problemId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      memory = #{memory,jdbcType=INTEGER},
      time = #{time,jdbcType=INTEGER},
      submit_date = #{submitDate,jdbcType=TIMESTAMP},
      code_length = #{codeLength,jdbcType=INTEGER},
      language = #{language,jdbcType=TINYINT},
      verdict = #{verdict,jdbcType=INTEGER}
    where solution_id = #{solutionId,jdbcType=INTEGER}
  </update>
</mapper>