<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.aust.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.aust.pojo.User" >
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="avatar" property="avatar" jdbcType="VARCHAR" />
    <result column="role" property="role" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="nickname" property="nickname" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="school" property="school" jdbcType="VARCHAR" />
    <result column="motto" property="motto" jdbcType="VARCHAR" />
    <result column="language" property="language" jdbcType="INTEGER" />
    <result column="blogname" property="blogname" jdbcType="VARCHAR" />
    <result column="blog" property="blog" jdbcType="VARCHAR" />
    <result column="honor" property="honor" jdbcType="VARCHAR" />
    <result column="regdate" property="regdate" jdbcType="TIMESTAMP" />
    <result column="lastlogin" property="lastlogin" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    user_id, avatar, role, username, password, nickname, email, school, motto, language, blogname, 
    blog, honor, regdate, lastlogin
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.edu.aust.pojo.User" >
    insert into user (user_id, avatar, role, username, 
      password, nickname, email, 
      school, motto, language, 
      blogname, blog, honor, 
      regdate, lastlogin)
    values (#{userId,jdbcType=INTEGER}, #{avatar,jdbcType=VARCHAR},#{role,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{school,jdbcType=VARCHAR}, #{motto,jdbcType=VARCHAR}, #{language,jdbcType=INTEGER}, 
      #{blogname,jdbcType=VARCHAR}, #{blog,jdbcType=VARCHAR}, #{honor,jdbcType=VARCHAR}, 
      #{regdate,jdbcType=TIMESTAMP}, #{lastlogin,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.aust.pojo.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="avatar != null" >
        avatar,
      </if>
      <if test="role != null" >
        role,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="nickname != null" >
        nickname,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="school != null" >
        school,
      </if>
      <if test="motto != null" >
        motto,
      </if>
      <if test="language != null" >
        language,
      </if>
      <if test="blogname != null" >
        blogname,
      </if>
      <if test="blog != null" >
        blog,
      </if>
      <if test="honor != null" >
        honor,
      </if>
      <if test="regdate != null" >
        regdate,
      </if>
      <if test="lastlogin != null" >
        lastlogin,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="avatar != null" >
        #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="role != null" >
        #{role,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="school != null" >
        #{school,jdbcType=VARCHAR},
      </if>
      <if test="motto != null" >
        #{motto,jdbcType=VARCHAR},
      </if>
      <if test="language != null" >
        #{language,jdbcType=INTEGER},
      </if>
      <if test="blogname != null" >
        #{blogname,jdbcType=VARCHAR},
      </if>
      <if test="blog != null" >
        #{blog,jdbcType=VARCHAR},
      </if>
      <if test="honor != null" >
        #{honor,jdbcType=VARCHAR},
      </if>
      <if test="regdate != null" >
        #{regdate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastlogin != null" >
        #{lastlogin,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.aust.pojo.User" >
    update user
    <set >
      <if test="avatar != null" >
        avatar = #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="role != null" >
        role = #{role,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="school != null" >
        school = #{school,jdbcType=VARCHAR},
      </if>
      <if test="motto != null" >
        motto = #{motto,jdbcType=VARCHAR},
      </if>
      <if test="language != null" >
        language = #{language,jdbcType=INTEGER},
      </if>
      <if test="blogname != null" >
        blogname = #{blogname,jdbcType=VARCHAR},
      </if>
      <if test="blog != null" >
        blog = #{blog,jdbcType=VARCHAR},
      </if>
      <if test="honor != null" >
        honor = #{honor,jdbcType=VARCHAR},
      </if>
      <if test="regdate != null" >
        regdate = #{regdate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastlogin != null" >
        lastlogin = #{lastlogin,jdbcType=TIMESTAMP},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.aust.pojo.User" >
    update user
    set avatar = #{avatar,jdbcType=VARCHAR},
    	role = #{role,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      school = #{school,jdbcType=VARCHAR},
      motto = #{motto,jdbcType=VARCHAR},
      language = #{language,jdbcType=INTEGER},
      blogname = #{blogname,jdbcType=VARCHAR},
      blog = #{blog,jdbcType=VARCHAR},
      honor = #{honor,jdbcType=VARCHAR},
      regdate = #{regdate,jdbcType=TIMESTAMP},
      lastlogin = #{lastlogin,jdbcType=TIMESTAMP}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
</mapper>